header {
    height: 15vh;
    border-bottom: solid 5px var(--color2);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    & .brandIcon {
        height: 5rem;
        fill: currentColor;
    }
    & nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        & svg {
            height: 3rem;
            fill: currentColor;
        }
    }
}