<div class="divPage1 row flex-column flex-lg-row gap-5 ">
    <h1>Sobre Nosotros...</h1>
    <div class="divLeft col col-lg-8">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias laboriosam maiores, consectetur, eveniet quasi temporibus, ipsa qui et ex suscipit blanditiis ratione quibusdam adipisci soluta harum nostrum cupiditate non placeat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, porro, perspiciatis tempora sint delectus, officiis impedit laboriosam praesentium at est architecto. Adipisci accusamus sapiente placeat distinctio delectus aperiam aspernatur impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis perferendis deleniti vero esse facere unde dolor, provident fugiat mollitia inventore ipsam doloremque, quas ut minima quasi consequatur eius sit suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi facere expedita ex distinctio facilis accusamus blanditiis consectetur quia. Consequuntur totam nulla dolor odio, ea dicta molestias. Tenetur similique ex nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, fugit placeat? Consequatur fuga aut dicta voluptatum saepe, nemo dolores voluptatem explicabo aperiam illum numquam, officia laudantium, vitae earum aspernatur nulla. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae saepe quos illum omnis, molestias doloremque corrupti magni rerum aliquid, blanditiis qui nisi! Aut vitae cumque totam, laborum ad itaque temporibus.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque impedit dignissimos cum et sit nisi eos, dicta, fugiat, natus laboriosam minus incidunt earum est. Deleniti velit assumenda perspiciatis corrupti maxime!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias laboriosam maiores, consectetur, eveniet quasi temporibus, ipsa qui et ex suscipit blanditiis ratione quibusdam adipisci soluta harum nostrum cupiditate non placeat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, porro, perspiciatis tempora sint delectus, officiis impedit laboriosam praesentium at est architecto. Adipisci accusamus sapiente placeat distinctio delectus aperiam aspernatur impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis perferendis deleniti vero esse facere unde dolor, provident fugiat mollitia inventore ipsam doloremque, quas ut minima quasi consequatur eius sit suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi facere expedita ex distinctio facilis accusamus blanditiis consectetur quia. Consequuntur totam nulla dolor odio, ea dicta molestias. Tenetur similique ex nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, fugit placeat? Consequatur fuga aut dicta voluptatum saepe, nemo dolores voluptatem explicabo aperiam illum numquam, officia laudantium, vitae earum aspernatur nulla. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae saepe quos illum omnis, molestias doloremque corrupti magni rerum aliquid, blanditiis qui nisi! Aut vitae cumque totam, laborum ad itaque temporibus.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque impedit dignissimos cum et sit nisi eos, dicta, fugiat, natus laboriosam minus incidunt earum est. Deleniti velit assumenda perspiciatis corrupti maxime!</p>
    </div>
    <div class="col">
        <div class="divCard">
            <img src="assets/imgs/gym4.jpg" alt="">
            <div>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
<div class="divPage2">
    <h2>Nuestro equipo</h2>
    <div class="row gap-5">
        <div class="col">
            <img src="assets/imgs/manu.jpg" alt="Lider de proyecto.">
            <h3>Lider de proyecto</h3>
            <p>Manuel Kadomoto</p>
        </div>
        <div class="col">
            <img src="assets/imgs/santi.jpg" alt="Analista funcional.">
            <h3>Analista funcional</h3>
            <p>Santiago Rebequi</p>
        </div>
        <div class="col">
            <img src="assets/imgs/eze.jpg" alt="">
            <h3>BackEnd</h3>
            <p>Ezequiel Curto</p>
        </div>
        <div class="col">
            <img src="assets/imgs/gian.jpg" alt="">
            <h3>FrontEnd</h3>
            <p>Gianlucca Quinteros</p>
        </div>
    </div>
</div>