<div class="divPage1">
    <h1>Listado de Productos</h1>
    <div class="facturas">
        <form [formGroup]="deleteProductForm" (ngSubmit)="deleteProduct()">
            <h2>Eliminar Producto</h2>
            <div>
                <label>Código de Producto</label>
                <input type="number" id="codigoProducto" formControlName="codigoProducto">
                <button type="submit" class="firstButton">Eliminar Producto</button>
            </div>
        </form>
        <table>
            <tr class="trHead">
                <th class="col">Código</th>
                <th class="col">Producto</th>
                <th class="col">Descripción</th>
                <th class="col">Precio</th>
            </tr>
            @for (item of products; track item.id) {
                <tr class="trData">
                    <td>{{item.codigoProducto}}</td>
                    <td>{{item.nombreProducto}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>${{item.precioUnitario}}</td>
                </tr>
            }
            @empty {	
                <div>No hay productos</div>
            }
        </table>
    </div>
</div>