<div class="firstSection">
    <div class="divPage1">
        <h2>Datos de la tarjeta</h2>
        <form>
            <input class="inputData" placeholder="Nro. Tarjeta" type="number" name="" id="">
            <input class="inputData" placeholder="Nombre del Titular" type="text" name="" id="">
            <div>
                <input class="inputData" placeholder="MM/AA" min="01" max="12" type="number" name="" id="">
                <input class="inputData" placeholder="Codigo seguridad" type="number" name="" id="">
            </div>
            <input routerLink="/dashboard-client" class="firstButton" type="submit" value="PAGAR">
        </form>
    </div>
</div>